.form {
    text-align: right;
  }
  
  .form button {
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color:inherit;
    border: none;
    padding: 0.25rem 2rem;
    border-radius:2rem;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  }

  .error{
    color: red;
  }